.homepage-container {
    background-color: brown;
    color: var(--w1);
    height: 100vh;
    /* background-image: url(../../../public/library1.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 250px 70px 250px;
}

button {
    color: var(--w1);
    background-color: var(--a);
    border-radius: 5px;
    padding: 10px;
}

@media (max-width:768px) {
    .homepage-container {
        padding: 70px 50px 70px 50px;
    }
}